html,
body,
.app{
    background-color: #eee;
    height: 100vh;
    padding: 1em;
}

.message.error{
    text-align: left;
}

.messages{
    height: 300px;
    overflow-y: scroll;
}

.message__form{
    position: fixed;
    bottom: 1em;
    margin-left: 320px;
    left: 0;
    right: 1em;
    z-index: 200;
}

.message__self{
    border-left: 2px solid orange;
    padding-left: 8px;
}

.message__image{
   padding: 1em;
}

.progress__bar{
    margin: 0.3em 0 0 0 !important;
}